<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awakeyoyoyo.dao.OrderItemMapper">
  <resultMap id="BaseResultMap" type="com.awakeyoyoyo.entity.OrderItem">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="open_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_no" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="express_size" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="express_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="express_phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="express_pwd" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_mxg" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, open_id, order_no, express_size, express_name, express_phone, express_pwd, product_mxg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gotodo_orderItem
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gotodo_orderItem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.awakeyoyoyo.entity.OrderItem">
    insert into gotodo_orderItem (id, open_id, order_no, 
      express_size, express_name, express_phone, 
      express_pwd, product_mxg)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=INTEGER}, #{orderNo,jdbcType=BIGINT}, 
      #{expressSize,jdbcType=VARCHAR}, #{expressName,jdbcType=VARCHAR}, #{expressPhone,jdbcType=VARCHAR}, 
      #{expressPwd,jdbcType=VARCHAR}, #{productMxg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.awakeyoyoyo.entity.OrderItem">
    insert into gotodo_orderItem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="expressSize != null">
        express_size,
      </if>
      <if test="expressName != null">
        express_name,
      </if>
      <if test="expressPhone != null">
        express_phone,
      </if>
      <if test="expressPwd != null">
        express_pwd,
      </if>
      <if test="productMxg != null">
        product_mxg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="expressSize != null">
        #{expressSize,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null">
        #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="expressPhone != null">
        #{expressPhone,jdbcType=VARCHAR},
      </if>
      <if test="expressPwd != null">
        #{expressPwd,jdbcType=VARCHAR},
      </if>
      <if test="productMxg != null">
        #{productMxg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.awakeyoyoyo.entity.OrderItem">
    update gotodo_orderItem
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="expressSize != null">
        express_size = #{expressSize,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null">
        express_name = #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="expressPhone != null">
        express_phone = #{expressPhone,jdbcType=VARCHAR},
      </if>
      <if test="expressPwd != null">
        express_pwd = #{expressPwd,jdbcType=VARCHAR},
      </if>
      <if test="productMxg != null">
        product_mxg = #{productMxg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.awakeyoyoyo.entity.OrderItem">
    update gotodo_orderItem
    set open_id = #{openId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=BIGINT},
      express_size = #{expressSize,jdbcType=VARCHAR},
      express_name = #{expressName,jdbcType=VARCHAR},
      express_phone = #{expressPhone,jdbcType=VARCHAR},
      express_pwd = #{expressPwd,jdbcType=VARCHAR},
      product_mxg = #{productMxg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByOrderNo" resultMap="BaseResultMap" parameterType="long">
    SELECT <include refid="Base_Column_List"></include>
    FROM gotodo_orderItem
    WHERE order_no=#{orderNo}
  </select>
</mapper>