<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awakeyoyoyo.dao.ShippingMapper">
  <resultMap id="BaseResultMap" type="com.awakeyoyoyo.entity.Shipping">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="open_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_place" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_dormitory" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, open_id, receiver_name, receiver_phone, receiver_place, receiver_dormitory
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gotodo_shipping
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gotodo_shipping
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.awakeyoyoyo.entity.Shipping">
    insert into gotodo_shipping (id, open_id, receiver_name, 
      receiver_phone, receiver_place, receiver_dormitory
      )
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, 
      #{receiverPhone,jdbcType=VARCHAR}, #{receiverPlace,jdbcType=VARCHAR}, #{receiverDormitory,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.awakeyoyoyo.entity.Shipping">
    insert into gotodo_shipping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="receiverName != null">
        receiver_name,
      </if>
      <if test="receiverPhone != null">
        receiver_phone,
      </if>
      <if test="receiverPlace != null">
        receiver_place,
      </if>
      <if test="receiverDormitory != null">
        receiver_dormitory,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiverPlace != null">
        #{receiverPlace,jdbcType=VARCHAR},
      </if>
      <if test="receiverDormitory != null">
        #{receiverDormitory,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.awakeyoyoyo.entity.Shipping">
    update gotodo_shipping
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiverPlace != null">
        receiver_place = #{receiverPlace,jdbcType=VARCHAR},
      </if>
      <if test="receiverDormitory != null">
        receiver_dormitory = #{receiverDormitory,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.awakeyoyoyo.entity.Shipping">
    update gotodo_shipping
    set open_id = #{openId,jdbcType=VARCHAR},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      receiver_place = #{receiverPlace,jdbcType=VARCHAR},
      receiver_dormitory = #{receiverDormitory,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByOpenIdShippingId" parameterType="map">
    DELETE FROM gotodo_shipping
    WHERE open_id=#{openId} AND id=#{shippingId}
  </delete>
  <select id="selectByOpenId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM gotodo_shipping
    WHERE open_id=#{openId}
  </select>
  <select id="selectByOpenIdShippingId" resultMap="BaseResultMap" parameterType="map">
    SELECT <include refid="Base_Column_List"></include>
    FROM  gotodo_shipping
    WHERE open_id=#{userId} AND id=#{shippingId}
  </select>

</mapper>